body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  align-self: center;
  overflow-x: hidden;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  background-color: rgb(35, 77, 141);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  h1 {
    width: 93vw;
    letter-spacing: 1px;
    display: inline-block;
  }
}

main {
  height: 80vh;
}

footer {
  height: 10vh;
  text-align: center;
  display: flex;
  background-color: rgb(250, 250, 250);
}

footer p {
  font-size: 0.9rem;
  align-self: center;
  margin: auto;
  color: rgb(81, 81, 81);
  font-family: Arial, Helvetica, sans-serif;
}

footer a {
  color: rgb(72, 119, 184);
  text-decoration: none;
  &:hover {
    color: rgba(72, 119, 184, 0.75);
  }
}

.container {
  width: 95vw;
  margin: 0.25rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
}

.full-width {
  grid-column: 1 / span 2;
}

.touchpad {
  background-color: silver;
  border: 1px solid lightgray;
  grid-column: 1 / span 2;
  color: rgb(83, 80, 80);
  border-radius: 10px;
  display: flex;
}

.touchpad p {
  text-align: center;
  align-self: center;
  margin: auto;
}

.button {
  border-radius: 10px;
  border: 2px solid lightgray;
  font-size: large;
  background-color: white;
  margin: 1px;
  transition: 0.25s ease-in-out;
}

.button:active {
  color: rgb(29, 51, 177);
  background-color: rgb(178, 190, 226);
}
